<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="book.course.molareza.ir.mp3player">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".G"
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ActivityMain"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Splash"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.ActivitySearch"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ActivityMain" />
        </activity>
        <activity
            android:name=".activity.ActivitySetting"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityDetailNews"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ActivityMain" />
        </activity>
        <activity
            android:name=".activity.ActivityCall"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ActivityMain" />
        </activity>
        <activity
            android:name=".favorite.ActivityFavorite"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ActivityMain" />
        </activity>
        <activity
            android:name=".activity.ActivityPlayerOnline"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ActivityMain" />
        </activity>
        <activity
            android:name=".activity.ActivityClipOnline"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ActivityMain" />
        </activity>
        <activity
            android:name=".activity.ActivityInternet"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otherApp.ActivityOtherApp"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ActivityMain" />
        </activity>
        <activity
            android:name=".otherApp.ActivityOtherAppDetailes"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="988b7ccf395749c3c914898b2a82a8ecf897bdb3" />

        <activity
            android:name=".activity.ActivityInfo"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.ActivityDownload" />
        <activity android:name=".activity.ActivityPlayerOffline" />
        <activity android:name=".activity.ActivityClipOffline"></activity>

        <receiver android:name=".activity.ActivityPlayerOnline$NotificationPlayButtonHandler" />
        <receiver android:name=".activity.ActivityPlayerOffline$NotificationPlayButtonHandler" />

        <service android:name=".ServicePlayerOnline"/>
        <service android:name=".ServicePlayerOffline"/>

    </application>

</manifest>